<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</style>
    </head>
    <body>
        {% block body %}{% endblock %}        
        {% block javascripts %}{% endblock %}
    </body>
</html>
