<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


<style>
  #maincontainer {
    width:100%;
    height: 100%;
  }

  #leftcolumn {
    float:left;
    display:inline-block;
    width: 200px;
    height: 100%;
    background-color: #F5F1F1;
  }

  #contentwrapper {
    float:left;
    display:inline-block;
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    height: 100%;
  }

  .button {
    display: block;
    width: 90%;
    height: 25%;
    background: #4E9CAF;
    padding: 15px;
    margin-left: 10px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}
</style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <p style="color:white;font-size: 20px; text-align: center;">My Messaging App</p>
            <p style="font-size: 20px; text-align: right;margin-right: 10px">
                <a href="{{ path('logout') }}">Logout</a>
            </p>
        </nav>
        <div id="maincontainer">
            <div id="leftcolumn" class="w3-sidebar w3-bar-block">
                    <br>
                    <a href="{{ path('create_message') }}" class="button">Compose</a><br>
                    <a href="{{ path('message_layout') }}" class="button">Inbox</a><br>
                    <a href="{{ path('sent_messages') }}" class="button">Sent</a><br>
                    <a href="{{ path('drafts') }}" class="button">Draft</a><br>
        
            </div>

            <div id="contentwrapper">
                {% block body %}{% endblock %}
            </div>
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
