{% extends '::base_message.html.twig' %}
{% block stylesheets %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<link href="https://select2.github.io/dist/css/select2.min.css" rel="stylesheet">

{% endblock %}

{% block javascripts %}
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<script src="https://select2.github.io/dist/js/select2.full.js"></script>
{% endblock %}

{% block body %}
<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body message">
				<p class="text-center">New Message</p>
				
					{{ form_start(form,{'attr' : {'class' : 'form-horizontal' , 'role' : 'form'}}) }}
					<div style="text-align:center;color:red;">
						{% for flashMessage in app.session.flashbag.get('invalidRecipient') %}
	    					{{ flashMessage }}
						{% endfor %}
					</div>
					<div class="form-group">
				    	<label for="to" class="col-sm-1 control-label">To:</label>
				    	<div class="col-sm-11">
				    		{{ form_row(form.to, {'attr' : {'class' : 'form-control select2-offscreen', 'placeholder' : 'Type email', 'type' : 'text', 'id' : 'to', 'tabindex' : '-1'}}) }}
				    	</div>
				  	</div>
					<div class="form-group">
				    	<label for="cc" class="col-sm-1 control-label">CC:</label>
				    	<div class="col-sm-11">
                              <input type="email" class="form-control select2-offscreen" id="cc" placeholder="Type email" tabindex="-1" readonly="true">
				    	</div>
				  	</div>
					<div class="form-group">
				    	<label for="bcc" class="col-sm-1 control-label">BCC:</label>
				    	<div class="col-sm-11">
                              <input type="email" class="form-control select2-offscreen" id="bcc" placeholder="Type email" tabindex="-1" readonly="true">
				    	</div>
				  	</div>

				  	<div class="form-group">
				  		<label for="message" class="col-sm-1 control-label">Message:</label>
				  		{{ form_row(form.message,{'attr' : {'class' : 'form-control', 'placeholder' : 'Type The Message Here', 'type' : 'textarea', 'id' : 'message',style:"margin-left: 10%; width: 88.5%;height:200px;"}}) }}
						<!-- <textarea class="form-control " id="message" name="body" rows="10" placeholder="Type The Message Here" style="margin-left: 10%; width: 88.5%"></textarea> -->
					</div>
					<center>
						<div class="form-group">
                            <div style="display: inline-block">{{ form_row(form.send,{'attr' : {'class' : 'btn btn-success', 'type' : 'submit'}}) }}</div>
						<div style="display: inline-block">{{ form_row(form.draft,{'attr' : {'class' : 'btn btn-danger', 'type' : 'submit'}}) }}</div>
							{#<button type="submit" class="btn btn-danger">Draft</button>#}
						</div>
				  </center>
				  {{ form_end(form) }}


			</div>
		</div>
</div>
{% endblock %}