{% extends '::base_message.html.twig' %}
{% block stylesheets %}
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">  

        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

{% endblock %}

{% block javascripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" 

src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 

src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
{% endblock %}

{% block body %}

<div class="table-responsive" style="margin-left:17px;">
	<table id="myTable" class="table table-striped">
	<thead>
		<tr style="font-size:20px;font-weight:bold;">
			<td>Sent At</td>
			<td>Message</td>
		</tr>
	</thead>
	<tbody>
	{% for message in messages %}
	<tr>
		<td>{{ message.createdAt|date('Y-m-d H:i:s')}}</td>
		<td><a href="{{ path('show_messages', {'id': message.id}) }}"> {{ message.message | length >50 ? message.message|slice(0, 50) ~ '...' : message.message }}</a></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}