{% extends '::base_message.html.twig' %}
{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://select2.github.io/dist/css/select2.min.css" rel="stylesheet">

{% endblock %}

{% block javascripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://select2.github.io/dist/js/select2.full.js"></script>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body message">
                <p class="text-center">View Message</p>

                <form class='form-horizontal' role="form">
                <div class="form-group">
                    <label for="message" class="col-sm-1 control-label">To:</label>
                        <textarea class="form-control " id="To" name="body" rows="3" style="margin-left: 10%; width: 88.5%" readonly="true" >{{ To }}</textarea>
                </div>

                    <div class="form-group">
                        <label for="from" class="col-sm-1 control-label">From:</label>
                        <div class="col-sm-11">
                            <input value={{ From }}  readonly="true" class="form-control select2-offscreen" tabindex = -1/>
                        </div>
                    </div>

                <div class="form-group">
                    <label for="message" class="col-sm-1 control-label">Message:</label>
                     <textarea class="form-control " id="message" name="body" rows="10" style="margin-left: 10%; width: 88.5%" readonly="true" >{{ Message }}</textarea>
                </div>

                </form>


            </div>
        </div>
    </div>
{% endblock %}