{% extends 'base_user.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}" />
{% endblock %}
{% block body %}

<div class="login-page">
  <div class="form">
 <div style="text-align:center;color:brown;">
	{% for flashMessage in app.session.flashbag.get('loginError') %}
	    {{ flashMessage }}
	{% endfor %}
 </div>
<form class="login-form" action="{{ path('login') }}" method="post">

    <input type="text" id="username" name="_username" placeholder="username" />

    <input type="password" id="password" name="_password" placeholder="Password" />

    <button type="submit">login</button>
</form>
<br>
<a href="{{ path('forgot_password') }}" class="button">Forgot Password?</a><br><br>
<a href="{{ path('user_registration') }}" class="button">New User? Signup Here</a><br>
  </div>
</div>
{% endblock %}