
{% extends '::base_user.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/registration.css') }}" />
        <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
        {% endblock %}
{% block body %}
<body>
	<div class="main-w3layouts wrapper">
		<h1>Create User</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
	{{ form_start(form) }}
    	{{ form_row(form.username,{'attr' : {'class' : 'text', 'placeholder' : 'UserName'}}) }}

    	{{ form_row(form.email,{'attr' : {'class' : 'text email', 'placeholder' : 'Email', 'name' : 'email'}}) }}

    	{{ form_row(form.plainPassword.first,{'attr' : {'class' : 'text', 'placeholder' : 'Password'}}) }}

	    {{ form_row(form.plainPassword.second,{'attr' : {'class' : 'text w3lpass', 'placeholder' : 'Repeat Password'}}) }}

	    {{ form_row(form.security_question,{'attr' : {'class' : 'search_categories', 'placeholder' : 'Password'}}) }}<br>

	    {{ form_row(form.security_answer,{'attr' : {'class' : 'text', 'placeholder' : 'Security Answer'}}) }}

	    {{ form_row(form.recoveryemail,{'attr' : {'class' : 'text email', 'placeholder' : 'Enter a Recovery Email', 'name' : 'email'}}) }}

						<div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>

    	<input type="submit" value="SIGNUP">

{{ form_end(form) }}
				</form>
			</div>
		</div>
</form>
{% endblock %}
{% block javascripts %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}