{% extends '::base_user.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/registration.css') }}" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
{% endblock %}
{% block body %}
    <body>
<div class="main-w3layouts wrapper">
    <h1>Reset Password</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post">
                <div style="text-align:center;color:brown;">
                    {% for flashMessage in app.session.flashbag.get('passwordError') %}
                        {{ flashMessage }}
                    {% endfor %}
                 </div>
                {{ form_start(form) }}

                {{ form_row(form.plainPassword.first,{'attr' : {'class' : 'text', 'placeholder' : 'New Password'}}) }}

                {{ form_row(form.plainPassword.second,{'attr' : {'class' : 'text w3lpass', 'placeholder' : 'Repeat Password'}}) }}

                <input type="submit" value="Reset">

                {{ form_end(form) }}
            </form>
        </div>
    </div>
    </form>
{% endblock %}